table{
  height: 100%;
  width: 100%;
}

#empty{
  text-align: center !important;
}

ion-card {
  height: 100%;
  width: 100%;
  border-radius: var(--radius-4);
  box-shadow: var(--shadow-6);
}

button{
  width: 100%;
}
