ion-card {
    border-radius: var(--radius-4);
    box-shadow: var(--shadow-6);
}

.full-card {
    height: 100%;
    width: 100%;
}

ion-icon {
    width: 90%;
    height: 90%;
}

icon-inner {
    width: 90%;
    height: 90%;
}

.short-field {
    flex: 0 0 10%;
}
