table{
  height: 100%;
  width: 100%;
  table-layout: fixed;
}

#empty{
  text-align: center !important;
}

ion-card {
  max-height: 90%;
  width: 100%;
  overflow: auto;
  // border-radius: var(--radius-4);
  // box-shadow: var(--shadow-6);
}

button{
  width: 100%;
}

th, td {
  overflow: hidden;
  width:auto;
  text-overflow: ellipsis;
  white-space: nowrap;
}
