<form [formGroup]="taskForm" novalidate (ngSubmit)="onSubmit()">
    <ion-grid>
        <ion-row>
            <ion-col>
                <mat-form-field [style.width.em]="5">
                    <input matInput placeholder="Tag" formControlName="tag">
                </mat-form-field>
            </ion-col>
            <ion-col>
                <mat-form-field [style.width.em]="10">
                    <input matInput placeholder="Category" formControlName="category">
                </mat-form-field>
            </ion-col>
            <ion-col>
                <mat-form-field [style.width.em]="35">
                    <input matInput placeholder="Content" formControlName="description">
                </mat-form-field>
            </ion-col>
            <ion-col>
                <button mat-button style="height:100%;width:100%;">
                    Submit
                </button>
            </ion-col>
        </ion-row>
    </ion-grid>
</form>
