<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Timer
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-row size="12">
                    <ion-card class="full-card">
                        <ion-card-header>
                            <ion-card-title>
                                <app-chronograph #chronograph></app-chronograph>
                            </ion-card-title>
                        </ion-card-header>
                        <ion-card-content id="chron-controls">
                            <ion-fab vertical="top" horizontal="center" slot="fixed">
                                <ion-fab-button>
                                    <ion-icon src="assets\icon\clock.svg"></ion-icon>
                                </ion-fab-button>
                                <ion-fab-list side="top">
                                    <ion-fab-button (click)="chronograph.startTimer()">
                                        <ion-icon name="play-circle-outline"></ion-icon>
                                    </ion-fab-button>
                                </ion-fab-list>
                                <ion-fab-list side="end">
                                    <ion-fab-button (click)="chronograph.stopTimer()">
                                        <ion-icon name="stop-circle-outline"></ion-icon>
                                    </ion-fab-button>
                                </ion-fab-list>
                                <ion-fab-list side="start">
                                    <ion-fab-button (click)="chronograph.resetTimer()">
                                        <ion-icon name="reload-circle-outline"></ion-icon>
                                    </ion-fab-button>
                                </ion-fab-list>
                            </ion-fab>
                            <ion-fab vertical="top" horizontal="start" slot="fixed">
                                <ion-fab-button>
                                    <ion-icon src="assets\icon\coffee.svg"></ion-icon>
                                </ion-fab-button>
                                <ion-fab-list side="top">
                                    <ion-fab-button (click)="setTimer(300,'blue')">
                                        <ion-label>
                                            Short
                                        </ion-label>
                                    </ion-fab-button>
                                </ion-fab-list>
                                <ion-fab-list side="end">
                                    <ion-fab-button (click)="setTimer(900,'blue')">
                                        <ion-label>
                                            Long
                                        </ion-label>
                                    </ion-fab-button>
                                </ion-fab-list>
                            </ion-fab>
                            <ion-fab vertical="top" horizontal="end" slot="fixed">
                                <ion-fab-button>
                                    <ion-icon src="assets\icon\settings.svg"></ion-icon>
                                </ion-fab-button>
                            </ion-fab>
                        </ion-card-content>
                    </ion-card>
                </ion-row>
                <ion-row>
                    <ion-card class="full-card">
                        <ion-card-content>
                            <ion-item *ngFor="let task of unfinished">
                                <app-task-form [task]="task"></app-task-form>
                            </ion-item>
                        </ion-card-content>
                    </ion-card>
                </ion-row>
            </ion-col>
            <ion-col>
                <!-- <app-table>
                </app-table> -->
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>