<ion-card>
    <ion-card-content>
      <form [formGroup]="settingsForm" novalidate>
        <ion-item>
            <ion-label>Short Pomodoro</ion-label>
            <ion-input color="tertiary" formControlName="shortPomo" type="number"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Long Pomodoro</ion-label>
            <ion-input color="tertiary" formControlName="longPomo" type="number"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Short Break Time</ion-label>
            <ion-input color="tertiary" formControlName="shortBreak" type="number"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Long Break Time</ion-label>
            <ion-input color="tertiary" formControlName="longBreak" type="number"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Sound Enabled</ion-label>
            <ion-toggle formControlName="soundEnabled"></ion-toggle>
        </ion-item>
        <ion-item>
            <ion-label>Sound File</ion-label>
            <ion-select formControlName="soundFile">
                <ion-select-option value="bell.mp3">Bell</ion-select-option>
                <ion-select-option value="chime.mp3">Chime</ion-select-option>
                <ion-select-option value="ding.mp3">Ding</ion-select-option>
                <ion-select-option value="gong.mp3">Gong</ion-select-option>
                <ion-select-option value="ping.mp3">Ping</ion-select-option>
                <ion-select-option value="pop.mp3">Pop</ion-select-option>
                <ion-select-option value="purr.mp3">Purr</ion-select-option>
                <ion-select-option value="sosumi.mp3">Sosumi</ion-select-option>
                <ion-select-option value="submarine.mp3">Submarine</ion-select-option>
                <ion-select-option value="tink.mp3">Tink</ion-select-option>
            </ion-select>
        </ion-item>
        </form>
    </ion-card-content>
    <ion-button color="dark" expand="full" (click)="saveSettings()">Save</ion-button>
</ion-card>
